<%- include("../partials/header"); %>

<a href="/subjects">subjects</a> / <a href="/decks-view/<%= course.course_id %>"><%= course.name %></a> / <a href=""></a>

<h1><%= course.d_name %></h1>

<a href="/create-question/<%= subject %>">Add question to deck</a>

<% for (const row of res) { %>
<div class="main-question card" onclick="classList.toggle('flipcard')">
	<div class="questions-preview front">
		<p><%= row.question_text %></p>
	</div>
	<div class="questions-preview back">
		<p><%= row.answer %></p>
	</div>
</div>
<% } %>

<%- include("../partials/footer"); %>
	