<%- include("../partials/header"); %>

<h1>Choose a subject to work with</h1>

<!-- <pre><%#= JSON.stringify(res, null, 4) %></pre> -->

<table>
    <tr>
        <th>Courses</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.name %></td>
        <td>
            <a href="/eshop/update/<%= row.produktid %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="/eshop/delete/<%= row.produktid %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
<% }; %>
</table>

<%- include("../partials/footer"); %>


