<%- include("../partials/header"); %>

<a href="/subjects">subjects</a> /

<h1><%= city[0].name %> - All available courses</h1>  

<a href="/create-course/<%= subject %>">Add new course</a>

<div class="main-cards">
    <% for (const row of res) { %>
        <div class="card-preview">
            <p>
                <a href="/decks-view/<%= row.course_id %>"><%= row.name %></a>
            </p>
        </div>
    <% }; %>
</div>
        
<%- include("../partials/footer"); %>
